/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}

.tasks-container {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.tasks-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.current-task {
  display: flex;
  align-items: center;
  border: 1px solid red;
  background-color: rgba(255, 0, 0, .15);
  width: 800px;
  height: 400px;
  flex-direction: column;
  justify-content: space-around;
}

.current-task button {
  width: 100px;
}

.all-done {
  display: flex;
  align-items: center;
  border: 1px solid green;
  background-color: rgba(0, 255, 0, .15);
  width: 800px;
  height: 400px;
  flex-direction: column;
  justify-content: space-around;
}